body{
    background-color: rgba(154, 110, 204, 0.863);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
}
header{
  background-color: rgb(154, 90, 214);
  color: rgb(0, 2, 2);
  text-align: left;
  padding: 20px;
}
header a {
  background-color: rgb(255, 255, 255);
  text-decoration: solid;
  color: rgb(103, 117, 129);
  padding: 5px 20px;
  border-radius: 4px;
}
header a:hover{
   background-color: rgba(255, 255, 255, 0.13);
}
main {
    padding: 16px;
}
 
section {
    background-color: #ffffff25;
    padding: 16px;
    border-radius:8px;
    margin: 10px;
}
 
section h2 {
    border-bottom:2px solid rgb(245, 244, 244);
}
h1{
  margin: 0 0 10px 0;

}
input, textarea, select{
  width: 99%;
  padding: 8px;
  border: 1px solid #CCC;
  border-radius: 4px;
}
form button {
  background-color: rgba(255, 255, 255, 0.13);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
former button:hover{
  background-color: rgba(255, 255, 255, 0.13);
}
/* para refenciar id é com #  */
#exemploid  {
  background-color: rgb(143, 14, 194);
}
/* para refenciar é com . */
.exemplocass {
    background-color: rgb(116, 0, 184);
}